<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Login Page</title>
</head>
<body style="background: white;">
    <nav style="height: 90px;line-height: 90px;">
        <div class="nav-wrapper">
        <a href="#" class="brand-logo" style="padding-left: 10px;">Covid Detection</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/profile" style="font-size: x-large;">Profile</a></li>
            <li><a href="/logout" style="font-size: x-large;">Logout</a></li>
        </ul>
        </div>
    </nav>

    <div class="col-md-12" style="margin-top: 50px;">
        <div class="row">
            <div class="log-form" style="width: 50%;margin-left: 25%;background: #f5a8ab;padding: 30px;">
                <h3 style="margin: 0px;color: white;">Fill your Information</h3>
                <br>
				<form action="dataHandler" method="GET" style="padding-bottom: 50px;">
					<input type="text" title="name" placeholder="Name" style="font-size: x-large;"/>
					<input type="number" title="phoneNumber" placeholder="Phone Number" style="font-size: x-large;"/>
					<br>

					<div class="file-field input-field" style="width: 48%;float: left;margin-bottom: 30px;">
						<div class="btn" style="width: 100%;font-size: large;background: #ee6e73;">
							<span>File</span>
							<input type="file">
						</div>

						<div class="file-path-wrapper">
							<input class="file-path validate" type="text" style="width: 0%;">
						</div>
					</div>

                    <button type="submit" class="btn" style="height: 3rem;line-height: 3rem;width: 48%;font-size: large;float: right;background: #ee6e73;margin-top: 1rem;">Submit</button>

                </form>
            </div>
        </div>
    </div>
</body>
</html>